<div>

    <div id="formContainer" style="margin-top:20px; padding:30px" class="row panel panel-default">
        <div class="col-md-7">
            <form id="newQueryForm" name="vm.newQueryForm">
                <div>
                    <label for="queryNameInput">Query Name:</label>
                    <input required class="form-control" ng-model="vm.queryName" id="queryNameInput"/>
                </div>
                <div class="form-group required">
                    <label for="queryDetail" class="control-label">New Query</label>
                            <textarea id="queryDetail" name="queryDetail" ng-model="vm.newQuery" class="form-control"
                                      placeholder="New Query Detail" required style="height: 300px;" focus-on-load></textarea>
                </div>
                <button id="add-query" ng-click="vm.addQuery(vm.newQuery)" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="padding: 15px;">
                <label class="bg-info help-block">use '${...}'  as parameter placeholder</label>
                <hr/>
                <label>The HQL should look something like</label>
               <pre>
select *
FROM xxx
WHERE xxx
               </pre>
            </div>
        </div>
    </div>



    <script type="text/ng-template" id="confirmModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Are you sure you want to submit the request? </h3>
        </div>
        <div class="modal-body">
            <p>Query name: <b>{{ request.queryName }}</b></p>

            <div>
                <div>Query Details</div>
                <pre>{{ request.queryDetail}}</pre>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>